body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

fieldset {
    display: block;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 12px;
    padding-top: 40px;
    border-radius: 6px;
    margin-top: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    margin-right: 0px;
    border: 1px solid lightgray;
}

legend {
    position: absolute;
    margin-top: -35px;
    margin-left: 0px;
    border: 0;
    font-weight: 600;
    font-size: 18px;
    color: deepskyblue;
}

.formField {
    width:280px;
}
