@model IEnumerable<UsersManager.Models.FriendShipState>

@{
    ViewBag.Title = "Index";
}

<h2>Amitiés</h2>

<hr/>

<div id="refreshable_friends">
    @{ Html.RenderAction("GetFriendShips"); }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/partialRefresh")

    <script defer>
        installPartialRefresh("@Url.Action("GetFriendShips")", "refreshable_friends", 3, null)
    </script>
}