@model IEnumerable<UsersManager.Models.Login>

@{
    ViewBag.Title = "LoginsJournal";
}

<h2>Journal des connexions</h2>

<div id="LoginsListContainer">
    @{ Html.RenderAction("GetLoginsList", new { forceRefresh = true }); }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/partialRefresh")

    <script defer>

        $(() => {
            installPartialRefresh("@Url.Action("GetLoginsList")", "LoginsListContainer", 3 /*secondes*/);
        });
    </script>
}

